/* You can add global styles to this file, and also import other style files */
body{
  background: rgb(39, 57, 86);
  color:rgb(242, 244, 247);
}

.navbar{
   background:rgb(60, 81, 114);
  border:2px solid rgb(39, 57, 86);

}
input[type="text"]{
  margin:5px;
}
.hoverwell{
  margin:20px;
  padding:20px;
  background:rgb(82, 106, 142);
}

.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}